dist: trusty
sudo: false
language: node_js
node_js:
- node
cache:
  directories:
  - node_modules
before_install:
- if [ -d node_modules ] && [ x$(cat node_modules/.last-node-version 2>/dev/null) != x$(node -e 'console.log(process.version)') ]; then npm rebuild --update-binary && node -e 'console.log(process.version)' > node_modules/.last-node-version; fi
script:
- npm run lint && npm test
deploy:
  provider: npm
  email: npm@collaborne.com
  api_key:
    secure: "FxO/W8INOCDFSYD7ORX4cHSVw6jxuT8WtfizeakegYYdA3Ec1qtOXSGnt7yzM2beRJxJyvuUgUF2rHxP0fSs1IjnmS+ovYmA+pUaJE3nHBp6pEXmCbSZPpg89LE//eBDZqPyk3j0xyHubLMewyA/wkUL0YT6kUgk3+GOZfUPl+gmLGGnb988aocO7afO7Tc5Z8mjarzHKRopl80/9Po1cr6dohmrmAsKecQj39Bh/d1057Qd6exXFqFRU6crOQxy9H+xwqNUFshxK17LYY+paPUhnzlhFYoxODiyJQjTvRbUkrhMzpTSBpdkFJwbL2mS/WQN/SWMmn1F9AbDzjBUxTsHBOWkRqAwGpqeJV5ACx26bc8jwmU2t17jog0S8Smq+n4HZcFfnMQ/6V9JybyKucCjtto+esXDdg8fPyETUJBTmn+JeuyTm/pS6pr3GDExC11A+1GxtaSlqERKJqk+dXKlLZC825uLFLUTSDcY4yxUYxd4goivfvojR2qVa7dnhWwk7EPFh/p/o0LDPJOBegSR/lqxO8gJzjNrD5+j4jxBhRRDpvrJ+oNNEs8NMdvrVDRC4BuTDDXDY0OEi0N1bc/6zegdg+wD384WL6/XMuApbNgrnVGAEt43Csp4zgWFVpjNtvPNFJrX26Ng8+VSJTsJwVr2kgL1+sR+4vQ3huY="
  on:
    tags: true
    condition: $(node -e 'console.log("v" + require("./package.json").version)') = ${TRAVIS_TAG}
  skip_cleanup: true
